<mat-toolbar color="primary" class="navbar">
        <div>SOUBHAGYA
            <input type="text" class="form">
        </div>
            
        
        <div>
                   <span>Swain</span>
                   <span><a routerLink="/cart" class="hy">Cart</a></span> 
                   <span>Logout</span>
                       
                   
     </div>
      </mat-toolbar>
      <mat-toolbar>
          <div class="pol">
          <span class="k">Electronics</span>
          <span class="k">Tv application</span>
          <span class="k">Men</span>
          <span class="k">Women</span>
          <span class="k">Home & furnitures</span>
        </div>
      </mat-toolbar>
    
  
     
         <p><b><h3>Search here <input type="text" ></h3></b></p> 
         <mat-divider></mat-divider>
     

   <div fxLayout="row" fxLayoutAlign="space-around center" class="item">

    <div fxFlex="20%" fxLayoutGap="5px" >
        <mat-card class="example-card">
            <img mat-card-image src="{{product.imageUrl}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <h3>
                    {{product.name}}
            </h3>
                <p>{{product.productOffer}}</p>
                <p>
                    {{product.bank}}
                </p>
                <h4>Price : {{product.price}}</h4>
                
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="buyNow(product)">ADD TO CART</button>
               
            
            </mat-card-actions>
        </mat-card>
    </div>


</div>
      
    
