<mat-toolbar color="primary" class="navbar">
    <div>SOUBHAGYA
        <input type="text" class="form">
    </div>
        
    
    <div>
               <span>Soubhagya</span>
               <span>Cart</span>
               <span><a routerLink="/login">Logout</a></span>
                   
               
 </div>
  </mat-toolbar>
  <mat-toolbar>
      <div class="pox">
      <span class="k"><a routerLink="/elec"><b id="el">Electronics</b></a></span>
      <span class="k">Tv application</span>
      <span class="k">Men</span>
      <span class="k">Women</span>
      <span class="k">Home & furnitures</span>
      <span class="k">Grocery</span>
    </div>
  </mat-toolbar>
   
        <div fxLayout="row">
            <img src="assets/fo1.jpg" class="pro1"/>
        </div>
            
        <!-- <div fxLayout="row">
          <mat-card>
              <div fxLayout="column" fxFlex="25">
              <img src="assets/f1.jpg" class="im2"/>
            </div>
             <div fxLayout="column" fxFlex="25">
              <img src="assets/f1.jpg"class="im2"/>
            </div>
          <div fxLayout="column" fxFlex="25">
              <img src="assets/f1.jpg"class="im2"/>
            </div>
          <div fxLayout="column" fxFlex="25">
              <img src="assets/f1.jpg"class="im2"/>
            </div>
          </mat-card>
        </div> -->
           <p><b><h2>Product details</h2></b></p>
           <mat-divider></mat-divider>
        <div fxLayout="row">
                 <div fxLayout="column" fxFlex="5"></div>

                  <div fxLayout="column" fxFlex="30">
                          <mat-card>
                               <p><b></b></p>
                              <img src="assets/h1.jpg" class="fo1"/>
                              <p><b>Pressure cooker</b></p>
                              <p>Up to 45% + extra 5% off</p>
                          </mat-card>
                  </div>

                  <div fxLayout="column" fxFlex="30"  >
                          <mat-card>
                              <img src="assets/h2.jpg" class="fo2"/>
                              <p><b>Shoe</b></p>
                              <p>Up to 55% + extra 5% off</p>
                              
                          </mat-card>
                  </div>

                  <div fxLayout="column" fxFlex="30">
                         <mat-card>
                            <img src="assets/p1.jpg" class="fo3"/>
                            <p><b>Watch</b></p>
                            <p>Up to 35% + extra 5% off</p>
                         </mat-card>
                  </div>
          <div fxLayout="column" fxFlex="5"></div>
        </div>
          
           <br>

           <div fxLayout="row">
              <div fxLayout="column" fxFlex="5"></div>

               <div fxLayout="column" fxFlex="30">
                       <mat-card>
                            <p><b></b></p>
                           <img src="assets/p2.jpg" class="fo6"/>
                           <p><b>Specs</b></p>
                           <p>Up to 65% + extra 5% off</p>
                           <p><b></b></p>
                       </mat-card>
               </div>

               <div fxLayout="column" fxFlex="30"  >
                       <mat-card>
                           <img src="assets/p3.jpg" class="fo2"/>
                           <p><b>Toaster</b></p>
                           <p>Up to 45% + extra 7% off</p>
                       </mat-card>
               </div>

               <div fxLayout="column" fxFlex="30">
                      <mat-card>
                         <img src="assets/p4.jpg" class="fo3"/>
                         <p><b>Phone</b></p>
                         <p>Up to 15% + extra 2% off</p>
                      </mat-card>
               </div>
       <div fxLayout="column" fxFlex="5"></div>
     </div>




  
